##############Ignore All#############
/*
resources/\[MaMad\]/spideything/config.lua
resources/\[MaMad\]/test/
##########Except these files#########
!.gitignore
!server.zip
!resources
!resources/*
!server.cfg
!tables.sql
!vidat.cfg
!mamadlord.cfg
!resources.cfg
!aj.cfg
!logo.png
#####################################