add_ace group.restart restart.cmds allow ##this group is able to use the /beginrestart command.
add_principal identifier.steam:110000114a058a8 group.restart ##this will give a specified person permissions to the restart group.
add_principal identifier.steam:11000010a1b83df group.restart ##this will give a specified person permissions to the restart group.

endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
#30120

#Default Resources of FiveM
start mapmanager
start chat
start spawnmanager
start sessionmanager
restart sessionmanager
start fivem
start hardcap
start rconlog
start baseevents

#DataBase Config
start mysql-async
set mysql_connection_string "server=localhost;database=fivem;userid=localfivem;password=687Gbwdei8ptaOCz"



exec resources.cfg
exec vidat.cfg
exec mamadlord.cfg
exec aj.cfg


# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "roleplay, iran, persian, farsi, RP"

sv_scriptHookAllowed 0

# change this
rcon_password 7axxycc7d3R

sv_hostname "^1Iran ^7Role ^2Play ^9(Persian/Farsi lang)"

# nested configs!
#exec server_internal.cfg

# loading a server icon (96x96 PNG file) - MicroSerum's logo by default
load_server_icon "logo.png"

# convars for use from script
set temp_convar "hey world!"

# disable announcing? clear out the master by uncommenting this
#sv_master1 ""

# want to only allow players authenticated with a third-party provider like Steam?
#sv_authMaxVariance 1
#sv_authMinTrust 5

# add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.steam:110000114a058a8 group.admin # add the admin to the group
add_principal identifier.steam:11000010a1b83df group.admin

# remove the # to hide player endpoints in external log output
#sv_endpointprivacy true

# server slots limit (must be between 1 and 31)
sv_maxclients 32

# license key for server (https://keymaster.fivem.net)
sv_licenseKey tz2xcrrxaylg2y6uo2ndq9tibuizakvz

set ea_LanguageName "en"                # set our language to english
set ea_MenuButton "121"			# set our menu button to F2. default: "289"
set ea_alwaysShowButtons "false"	# we don't want to see buttons we can't even access, do we? default: "false"
set ea_moderationNotification "false"   # this can be either "false" or a discord webhook address, this will send a discord message if an admin takes actions against a player  ( such as banning and kicking )
set ea_custombanlist "false"            # read docs for this, dont touch it

add_ace group.moderator easyadmin.kick allow				# allow kicking
add_ace group.moderator easyadmin.spectate allow			# allow spectating
add_ace group.moderator easyadmin.ban allow
add_ace group.moderator easyadmin.screenshot allow
add_ace group.admin easyadmin allow
